# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/build
/cmake_install.cmake
/cmake-build-debug
/CMakeFiles

/CMakeCache.txt
/CMakeLists.txt


/sdl2_project
